* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:antiquewhite;
}
main > * {
    width: 550px;
}

.switch-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.switch-container button {
    width: 8rem;
    border: 2px solid transparent;

    cursor: pointer;
}
.switch-container button:hover {
    font-weight: 600;
}
.switch-container > :first-child {
    border-radius: .5rem 0 0 .5rem;
}
.switch-container > :last-child {
    border-radius: 0 .5rem .5rem 0;
}
.switch-container .active {
    background-color: darkgrey;
    border-color:;
    color: #FFF;
    font-weight: 600;
    cursor: default;
}